<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Bite Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.2/semantic.css"> <!-- load bootstrap css -->
</head>
<body>
