<% include ./partials/head %>

<div class="container">

    <div class="ui page grid column centered">


            <h2 class="ui center aligned icon header">
              <i class="circular food icon"></i>
              <div class="content">
                Bite Me
                <div class="sub header">Less thinking, more anything...</div>
              </div>
            </h2>
            

            <div class="ui huge buttons">
              <a class="ui button" href="/login"><i class="user icon"></i> Login</a>
              <div class="or"></div>
             <a class="ui positive button" href="/signup"><i class="user icon"></i> Signup</a>
            </div>

            
            

    </div>

</div><!-- .container -->

<% include ./partials/footer %>

</body>
</html>
