<% include ./partials/head %>

    <div class="ui grid centered">

        <div class="ui centered row"></div>

            <h2 class="ui center aligned icon header">
              <div class="content">
                <img height="250" src="/public/assets/order.png" alt="" />
                <div class="sub header">Less thinking, more anything...</div>
              </div>
            </h2>


            <div class="ui huge buttons">
              <a id="login-button" class="ui button" href="/login"><i class="user icon"></i> Log In</a>
              <div class="or"></div>
             <a id="signup-button" class="ui positive button" href="/signup"><i class="user icon"></i> Signup</a>
            </div>

            <div id="signup-form" class="ui modal">
                <div class="header">
                    Sign Up
                </div>
                <!-- signup FORM -->
                <div class="content">
                    <form action="/signup" method="post" class="ui form" >
                        <div class="two fields">
                            <div class="field">
                                <label>First Name</label>
                                <input type="text" name="firstname" placeholder="Mel">
                            </div>
                            <div class="field">
                                <label>Last Name</label>
                                <input type="text" name="lastname" placeholder="Gibson">
                            </div>
                        </div>

                        <div class="three fields">
                            <div class="field">
                                <label>Email</label>
                                <input type="text" name="email" placeholder="something@example.com">
                            </div>
                            <div class="field">
                                <label>Password</label>
                              <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="field">
                                <label>Password Confirmation</label>
                              <input type="password" name="password-confirmation" placeholder="Password Confirmation">
                            </div>
                        </div>

                        <h4 class="ui horizontal header divider">
                            <i class="home icon"></i>
                            Your Address
                          </h4>

                        <div class="two fields">
                            <div class="field">
                                <label>Street Address 1</label>
                                <input type="text" name="street1" placeholder="123 Main St">
                            </div>
                            <div class="field">
                                <label>Street Address 2</label>
                                <input type="text" name="street2" placeholder="Apt A">
                            </div>
                        </div>

                        <div class="four fields">
                            <div class="field">
                                <label>City</label>
                                <input type="text" name="city" placeholder="Coolville">
                            </div>
                            <div class="field">
                                <label>State</label>
                                <input type="text" name="state" placeholder="CA">
                            </div>
                            <div class="field">
                                <label>Zip Code</label>
                                <input type="text" name="zip" placeholder="90210">
                            </div>
                            <div class="field">
                                <label>Phone Nuber</label>
                                <input type="text" name="phone" placeholder="555-867-5309">
                            </div>
                        </div>

                        <div class="actions">
                            <button type="submit" class="ui submit button positive">Sign Up</button>
                        </div>

                    </form>
                </div>
            </div><!-- signup modal -->


            <div id="login-form" class="ui modal">
                <div class="header">
                    Log In
                </div>
                <!-- LOGIN FORM -->
                <div class="content">
                    <form action="/login" method="post" class="ui form" >
                        <div class="two fields">
                            <div class="field">
                                <label>Email</label>
                                <input type="text" name="email" placeholder="Email Address">
                            </div>
                            <div class="field">
                                <label>Password</label>
                              <input type="password" name="password" placeholder="Password">
                            </div>
                            <!-- <div class="actions"> -->
                                <button type="submit" class="ui submit button">Log In</button>
                            <!-- </div> -->
                        </div>
                    </form>
                </div>
            </div><!-- login modal -->



        </div><!-- row -->

    </div><!-- grid -->

<% include ./partials/footer %>

</body>
</html>
