<% include ./partials/head %>

<% include ./partials/header %>

<input type="hidden" value="<%= user.local._id %>">

<div class="ui grid centered">

  <div class="ui row">
    <a style="color:gray" href="#" id="order-food"><img src="/public/assets/order.png" alt="" />
    <h4><i>Click Order Now to get your order</i></h4></a>
    <!-- <a href="#" id="order-food" class="ui button red massive">Get Food</a> -->

  </div>
  <hr>
  <h1 class="ui header">Restaurants</h1>
  <div id="food" class="ui grid centered"></div>








  <div id="order" class="ui modal">
    <div class="content">
      <h1>Here is your Order!</h1>
      <a href="#" id="confirm" class="ui button blue massive">Bring it to me!</a>
    </div>
  </div>

  <div id="menu" class="ui modal"></div>

</div><!-- grid -->


<% include ./partials/footer %>

</body>
</html>
